/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2015, 10:07:45 AM
    Author     : IT43
*/

body {
  min-height: 2000px;
  padding-top: 70px;
}
